@use "../global" as g;

/* ==========================================================================
   utility
========================================================================== */

/* ---------------------------------------------------------------------------
  show/hide
  --------------------------------------------------------------------------- */
// mobile
.u-show-mobile {
  display: initial;

  @include g.mq(md) {
    display: none;
  };
}

// desktop
.u-show-desktop {
  display: none;

  @include g.mq(md) {
    display: initial;
  };
}