//- 定数

//- 最後「/いらない」
- var site_url = "https://test.com";
- var title = "南アルプスみらい財団";
- var site_name = "南アルプスみらい財団";
- var slug = ""

//- ルート
- var root = "./";
- var root_img = root + "assets/img/";

//- 変数
- var lang = "ja";
- var description = "";
- var keywords = "";
- var og_type = "website";
- var og_url = site_url + "/assets/img/common/ogp/ogp.jpg";
- var og_locale = "ja_JP";
- var page_type = "under";