extend ../_include/_layout

//- 設定の上書き
append variables
  //- Require
  - var title = '';
  - var site_name = '';
  - var description = '';
  - var slug = 'under'
  //- Optional
  - var root = "../";
  - var root_img = root + "assets/img/";
  - var root_link  = "../";

//- コンテンツ
block content
  .p-utility 
    .c-container 
      .p-utility-wrap 
        h1.p-utility-title
          | サイトマップ
        .p-utility-sitemap
          .p-utility-content 
            .p-utility-box 
              h2.p-utility-box__title
                | 南アルプスみらい財団とは
              ul.p-utility-list 
                li.p-utility-list__item 
                  | 南アルプスみらい財団の概要
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | 財団の取組方針
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | 理事長挨拶
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | 個財団の事業
                  .p-utility-link
                    a.c-button-link(href="") Read more
            
            //- 南アルプスの情報
            .p-utility-box 
              h2.p-utility-box__title
                | 南アルプスの情報
              ul.p-utility-list 
                li.p-utility-list__item 
                  | レンジャー活動記録
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | イベント情報
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | レンジャー立ち寄りスポット
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | 登山者・関係者の声
                  .p-utility-link
                    a.c-button-link(href="") Read more
                li.p-utility-list__item 
                  | 財団の活動
                  .p-utility-link
                    a.c-button-link(href="") Read more

            //- 素材閲覧・ダウンロード
            .p-utility-box 
              h2.p-utility-box__title
                | 素材閲覧・ダウンロード
              ul.p-utility-list 
                li.p-utility-list__item 
                  | 財団パンフレット・資料集
                  .p-utility-link
                    a.c-button-link(href="") Download
                li.p-utility-list__item 
                  | 写真素材集
                  .p-utility-link
                    a.c-button-link(href="") Download
            .p-utility-flex 
              .p-utility-box 
                h2.p-utility-box__title
                  | このサイトについて
                .p-utility-link
                  a.c-button-link(href="") Read more
              .p-utility-box 
                h2.p-utility-box__title
                  | 個人情報取扱
                .p-utility-link
                  a.c-button-link(href="") Read more
            .p-utility-flex 
              .p-utility-box 
                h2.p-utility-box__title
                  | リンク集
                .p-utility-link
                  a.c-button-link(href="") Read more
                .p-utility-icon.p-utility-sitemap__icon01(aria-hidden="true") 
                  img(src=root_img + "utility/sitemap/icon01.png", alt="")
            .p-utility-flex 
              .p-utility-box 
                h2.p-utility-box__title
                  | お問い合わせ
                .p-utility-link
                  a.c-button-link(href="") Read more
              .p-utility-box 
                h2.p-utility-box__title
                  | 文字サイズ変更
                .p-utility-sitemap__size
                  ul.c-font_change
                    li.c-font_change-item.is-small 
                      button
                        img(src=root_img + "cmn/font-size-small.png", alt="小" width="17" height="16")
                    li.c-font_change-item.is-medium  
                      button
                        img(src=root_img + "cmn/font-size-medium.png", alt="中" width="14" height="16")
                    li.c-font_change-item.is-large  
                      button 
                        img(src=root_img + "cmn/font-size-big.png", alt="大" width="16" height="16")
            