@use "../global" as g;


/* ==========================================================================
  base
========================================================================== */

/* ------------------------------------------------------------
	レイアウト
------------------------------------------------------------ */
:root {
  // --base-font-size: 56.25%;
  // --base-font-size: 75%;
  --base-font-size: 87.5%;
  // --base-font-size: 125%;
}
html {
	font-size: g.get-scale("medium"); // デフォルト 100%

  &.is-small {
    font-size: g.get-scale("small"); // 約 85.71%
  }
  &.is-medium {
    font-size: g.get-scale("medium"); // 100%
  }
  &.is-large {
    font-size: g.get-scale("large"); // 約 142.86%
  }	
}

body {
  position: relative;
	min-width: 320px;
	width: 100%;
	color: g.$col-main;
	font-family: g.$font-sans;
	font-weight: 300;
	line-height: 1;
  letter-spacing: 0.002em;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
  background-image: url('../img/cmn/main-bg01.png');
  background-size: contain;
  background-repeat: repeat;
}

img {
	vertical-align: middle;
	width: 100%;
}