- var root_img = root + 'assets/img/';

.l-sidebar 
  .l-sidebar-contact 
    a(href="") 
      img(src=root_img + "cmn/contact-img01.png", alt="お問い合わせ画像")
      p.l-sidebar-contact__text 
        | お問い合わせ
  .l-sidebar-entry
    a(href="") 
      img(src=root_img + "cmn/contact-img02.png", alt="各種お申し込み画像")
  ul.l-sidebar-sns 
    li.l-sidebar-sns__insta 
      a(href="") 
        img(src=root_img + "cmn/instagram-icon01.png", alt="instagram")
    li.l-sidebar-sns__insta 
      a(href="") 
        img(src=root_img + "cmn/facebook-icon01.png", alt="facebook")


