@use "../global" as g;

/* ==========================================================================
  gaiyou
========================================================================== */
.p-gaiyou {

  .p-gaiyou-title {
    padding-bottom: 15px;
    border-bottom: 3px solid g.$col-green_00877B;
    color: g.$col-green_00877B;
    font-weight: 600;
    text-align: center;
    font-size: g.rem(22px);
  }
  .p-gaiyou-text {
    margin-top: 40px;
    letter-spacing: 0.002em;
    line-height: 1.94;
    font-size: g.rem(18px);

    a {
      color: g.$col-blue_06C9F7;
    }
  }
  .p-gaiyou-content {
    margin-top: 60px;

    &+.p-gaiyou-content {
      margin-top: 75px;
    }
  }
  .p-gaiyou-table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
    
    th,td {
      border: 1px solid #707070;
    }
    th {
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
    }
    td {
      padding: 15px 45px;
      font-weight: 300;
      line-height: 1.75;

      a {
        display: block;
        color: g.$col-blue_06C9F7;
      }
    }
  }
}