@use "../global" as g;

/* ==========================================================================
  single
========================================================================== */
@media print {
  header,footer,.c-history_back {
    display: none;
  }
}
.p-single {

  .p-single-content {
    margin-top: 50px;
    padding: 55px 65px 90px;
    background-color: #fff;

    @include g.mq(sm) {
      margin-top: 16px;
      padding: 24px 20px;
    }
  }
  .p-single-sns {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    max-width: 216px;
    margin-left: auto;

    .p-single-sns__item {
      width: calc((100% - 10px)/2);
      height: 23px;
      padding-left: 10px;

      a,button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        column-gap: 10px;
      }
      .p-single-sns__icon {
        flex: 0 0 21px;
      }
      .p-single-sns__text {
        color: #fff;
        font-weight: 600;
        font-size: g.rem(10px);
      }

      &:first-child {
        background-color: #F39C00;
      }
      &:nth-child(2) {
        background-color: #0075BF;
      }
    }
  }
  .p-single-title {
    position: relative;
    margin-top: 67px;
    padding-bottom: 20px;
    border-bottom: 3px solid g.$col-green_00877B;
    color: g.$col-green_00877B;
    font-weight: 600;
    text-align: center;
    font-size: g.rem(25px);

    @include g.mq(sm) {
      margin-top: 25px;
      padding: 0 0 10px 80px;      
      text-align: left;
      line-height: 1.3;
      font-size: g.rem(20px);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      background-image: url('../img/single/title-icon01.png');
      background-size: contain;
      background-repeat: no-repeat;
      aspect-ratio: 122/96;
      width: 122px;

      @include g.mq(sm) {
        bottom: 5px;
        width: 66px;
      }
    }
  }
  .p-single-body {
    margin-top: 50px;

    @include g.mq(sm) {
      margin-top: 30px;
    }

    h2 {
      line-height: 1.75;
      font-weight: 600;
      font-size: g.rem(20px);

      @include g.mq(sm) {
        line-height: 1.5;
        font-size: g.rem(17px);
      }      
    }

    p {
      line-height: 1.94;
      font-size: g.rem(18px);

      @include g.mq(sm) {
        line-height: 1.86;
        font-size: g.rem(15px);
      }

      strong {
        line-height: 1.75;
        font-weight: 600;
        font-size: g.rem(20px);

        @include g.mq(sm) {
          line-height: 1.5;
          font-size: g.rem(17px);
        }
      }

      &+p {
        margin-top: 30px;

        @include g.mq(sm) {
          margin-top: 20px;
        }
      }
    }
    figure {
      margin: 2rem 0;
    }
    .wp-block-columns {
      margin: 1.75em 0;

      figure {
        margin: 0 !important;
      }
    }
    .aligncenter {
      width: 100%;
      text-align: center;
    }
    .alignright,.alignleft {
      @include g.mq(sm) {
        margin: 0 auto;
        float: none;
      }
    }
  }
}