@use "../global" as g;

/* ==========================================================================
  torikumi
========================================================================== */
.p-torikumi {
  margin-top: 55px;

  @include g.mq(sm) {
    margin-top: 30px;
  }

  .p-torikumi-flex {
    @include g.mq(md) {
      display: flex;
      column-gap: 60px;
    }
  }
  .p-torikumi-message {
    font-weight: 600;
    line-height: 2;
    font-size: g.rem(22px);
    
    @include g.mq(md) {
      flex: 0 1 100%;      
    }
    @include g.mq(sm) {
      line-height: 1.2;
      font-size: g.rem(18px);
    }
    @include g.mq(xs) {
      font-size: g.rem(15px);
    }
  }
  .p-torikumi-image {
    flex: 0 0 555px;
    text-align: center;
    font-weight: 300;
    font-size: g.rem(18px);

    @media screen and (min-width:767px) and (max-width:1240px) {
      flex: 0 0 g.px2vw(555,1240);
    }

    @include g.mq(sm) {
      margin-top: 25px;
      font-size: g.rem(13px);
    }

    img {
      aspect-ratio: 550/185;
      margin-bottom: 20px
    }
  }
  .p-torikumi-text {
    margin-top: 60px;
    font-weight: 300;
    line-height: 1.75;
    font-size: g.rem(20px);

    @include g.mq(sm) {
      margin-top: 40px;
      font-size: g.rem(15px);
    }

    a {
      display: inline-block;
      color: g.$col-blue_06C9F7;
    }
  }
  .p-torikumi-list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 70px;

    @include g.mq(sm) {
      margin-top: 24px;
    }
  }
}