extend ../../_include/_layout

//- 設定の上書き
append variables
  //- Require
  - var title = '';
  - var site_name = '';
  - var description = '';
  - var slug = 'under'
  //- Optional
  - var root = "../../";
  - var root_img = root + "assets/img/";
  - var root_img_pamphlet = root + "assets/img/sozai/pamphlet/";
  - var root_link  = "../";

//- コンテンツ
block content
  .p-archive 
    .c-container 
      .p-archive-content 
        h1.p-archive-title 
          span
            | 財団パンフレット
        p.p-archive-text.p-archive-text__strong
          | 南アルプスみらい財団の概要や活動に関わる資料などをダウンロードすることができます。
        ul.p-archive-list 

          //- 南アルプスみらい財団 概要
          li.p-archive-list__item 
            .p-archive-list__image.p-archive-list__image-small 
              img(src=root_img_pamphlet + "img01.jpg", alt="写真：南アルプスみらい財団 概要")
            .p-archive-list__message 
              h3.p-archive-list__title 
                | 南アルプスみらい財団 概要
                span 更新日:2025.12.20
              p.p-archive-list__text 
                | 取組方針や概要、事業４本柱、役員など財団の全体像がわかるパンフレットです。
              .p-archive-list__more 
                a(href="") Download

          //- 〇〇〇〇〇〇イベント
          li.p-archive-list__item 
            .p-archive-list__image 
              img(src=root_img_pamphlet + "img02.jpg", alt="写真：〇〇〇〇〇〇イベント")
            .p-archive-list__message 
              h3.p-archive-list__title 
                | 〇〇〇〇〇〇イベント
                span 更新日:2025.12.20
              p.p-archive-list__text 
                | このページは「財団パンフレット」の一覧ページになります。このページは「財団パンフレット」の一覧ページになります。
              .p-archive-list__more 
                a(href="") Download