@use "../global" as g;

/* ==========================================================================
   main
========================================================================== */
main {
  background-image: url('../img/cmn/main-bg01.png');
  background-size: contain;
  background-repeat: repeat;
}