/* ==========================================================================
   variables
========================================================================== */

// color
$col-main: #555;
$col-black: #000;
$col-white: #fff;
$col-green_197063: #197063;
$col-green_00877B: #00877B;
$col-green_118F9D: #118F9D;
$col-blown_9F8451: #9F8451;
$col-blue_06C9F7: #06C9F7;

// Hiragino Kaku Gothic ProNの代替
$font-sans: "Noto Sans JP",sans-serif;

// Hiragino Maru Gothic StdNの代替
$font-zen: "Zen Maru Gothic", sans-serif;

// Futura PTの代替
$font-jost: "Jost", sans-serif;


$transtion-time: .3s;