extend ../../_include/_layout

//- 設定の上書き
append variables
  //- Require
  - var title = '';
  - var site_name = '';
  - var description = '';
  - var slug = 'under'
  //- Optional
  - var root = "../../";
  - var root_img = root + "assets/img/";
  - var root_img_under = root + "assets/img/under/";
  - var root_link  = "../";

//- コンテンツ
block content
  .p-archive 
    .c-container 
      .p-archive-content 
        h1.p-archive-title 
          span
            | 南アルプスみらい財団の概要
        p.p-archive-text
          | 静岡県は、南アルプスを訪れる人々を増やしながら自然環境の保全活動の拡充を図り、利活用と保全の好循環を生み出すことで、南アルプスの貴重な自然環境をより良い形で未来に引き継ぐことを目的に、一般財団法人南アルプスみらい財団を令和4年7月に設立しました。
        .p-gaiyou 
          .p-gaiyou-content
            h2.p-gaiyou-title 
              | 財団の概要
            table.p-gaiyou-table
              tr 
                th(style="width: 19%") 
                  | 所在地
                td
                  | 事務所：静岡市駿河区大谷5762
                  br
                  | 現地拠点：静岡市葵区田代　静岡市南アルプス自然ふれあいセンター内
              tr 
                th 
                  | 形　態
                td 
                  | 一般財団法人
              tr 
                th 
                  | 基本財産
                td 
                  | 300万円（静岡県が全額出資）
              tr 
                th 
                  | 組織体制
                td 
                  | 評議員5名、理事6名、監事1名
                  br
                  | 事務局5名（事務局長、企画総務課長、レンジャー2名、事務員）
              tr 
                th 
                  | 創立日
                td 
                  | 令和4年7月19日
              tr 
                th 
                  | 主な事業内容
                td 
                  | 1　情報収集及び提供に関する事業
                  br
                  | 2　自然環境の保全に関する事業
                  br
                  | 3　関係団体等との連携及び支援に関する事業
                  br
                  | 4　普及啓発に関する事業
                  br
                  | 5　人材の育成に関する事業
                  br
                  | 6　その他この法人の目的を達成するために必要と認められる事業
              tr 
                th 
                  | 定　款
                td 
                  | 定款（PDF：127KB）
              tr 
                th 
                  | 決算の状況
                td 
                  a(href="") 2022年度（令和4年度）  貸借対照表（PDF：38KB）、  正味財産増減計算書（PDF：82KB）
                  a(href="") 2023年度（令和5年度）  貸借対照表（PDF：33KB）、  正味財産増減計算書（PDF：90KB）
                  a(href="") 2024年度（令和6年度）  貸借対照表（PDF：31KB）、  正味財産増減計算書（PDF：89KB）
          
          .p-gaiyou-content
            h2.p-gaiyou-title 
              | 役員等            
            table.p-gaiyou-table
              tr 
                th(style="width: 19%") 
                  | 理事長
                td(style="width: 17%") 
                  | 戸野谷 宏
                td
                  | 静岡ガス株式会社 特別顧問
              tr 
                th(style="width: 19%") 
                  | 理　事
                td(style="width: 17%") 
                  | 佐藤 洋一郎
                td
                  | ふじのくに地球環境史ミュージアム 館長
              tr 
                th(style="width: 19%") 
                  | 理　事
                td(style="width: 17%") 
                  | 薗田 靖邦
                td
                  | 川根本町長
              tr 
                th(style="width: 19%") 
                  | 理　事
                td(style="width: 17%") 
                  | 大村 博
                td
                  | 静岡市環境局長
              tr 
                th(style="width: 19%") 
                  | 理　事
                td(style="width: 17%") 
                  | 山崎 宏
                td
                  | NPO法人ホールアース自然学校 代表理事
              tr 
                th(style="width: 19%") 
                  | 専務理事
                td(style="width: 17%") 
                  | 田島 章次
                td
                  | 一般財団法人南アルプスみらい財団事務局長
              tr 
                th(style="width: 19%") 
                  | 監　事
                td(style="width: 17%") 
                  | 平岡 直子
                td
                  | 平岡直子税理士事務所
              tr 
                th(style="width: 19%") 
                  | 評議員
                td(style="width: 17%") 
                  | 縣 茂樹
                td
                  | 静岡県くらし・環境部長
              tr 
                th(style="width: 19%") 
                  | 評議員
                td(style="width: 17%") 
                  | 神戸 重敏
                td
                  | 公益財団法人静岡県観光協会 専務理事
              tr 
                th(style="width: 19%") 
                  | 評議員
                td(style="width: 17%") 
                  | 溝口 康博
                td
                  | はごろもフーズ株式会社 常勤監査役
              tr 
                th(style="width: 19%") 
                  | 評議員
                td(style="width: 17%") 
                  | 山下 昭典
                td
                  | 公益財団法人イオン環境財団 監事
              tr 
                th(style="width: 19%") 
                  | 評議員
                td(style="width: 17%") 
                  | 吉﨑 真司
                td
                  | 東京都市大学名誉教授

          .p-gaiyou-content
            h2.p-gaiyou-title 
              | 事務局
            table.p-gaiyou-table
              tr 
                th(style="width: 19%") 
                  | 所在地
                td
                  | 〒422-8017 静岡市駿河区大谷5762
              tr 
                th(style="width: 19%") 
                  | 営業時間
                td
                  | 月曜日から金曜日　8時30分から17時15分
              tr 
                th(style="width: 19%") 
                  | 電話番号
                td
                  | 054-238-2270
              tr 
                th(style="width: 19%") 
                  | ファクス番号
                td
                  | 054-238-2275
              tr 
                th(style="width: 19%") 
                  | お問い合わせ
                td
                  | お問い合わせする

          .p-gaiyou-content
            h2.p-gaiyou-title 
              | 情報開示について
            p.p-gaiyou-text 
              | 財団が保有する情報の開示を求める場合、以下の規定を確認し、同データ内の「文書提示申出書」の提示をお願いいたします。
              br
              br
              a(href="") 一般財団法人南アルプスみらい財団情報公開規程（PDF：161KB）              