.c-contact 
  .c-contact-wrap 
    .c-contact-message
      h2.c-contact-title 
        | 各種お申し込み
      p.c-contact-text
        | 南アルプスの希少な生態系や自然資本を大切に守り、未来に引き継いでいくために、様々な活動への参加やご支援をお願いしています。
        br.u-show-desktop
        | 各フォームからお申込みをお願いします。
    .c-contact-box
      .c-contact-button.close
        span ボランティア活動参加
      .c-contact-button 
        a(href="") ご寄付のお願い
      .c-contact-button.close 
        span 南アルプス保全プロジェクト
    .c-contact-image 
      img(src=root_img + "top/bard-img01.png", alt="鳥のイラスト" width="255" height="241")

